#main-header{
    background-color: rgb(13, 32, 141);
    color:#fff;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    background-color:#F6F6F6;
}

#showcase{
    background-image: url('../images/stadium.jpg');
    background-position: center right;
    min-height:300px;
    margin-bottom:30px;
    text-align:center;
    color:#fff;

}